In [2]:
import pandas as pd
data=pd.read_csv("Book1.csv")

In [3]:
data

   8.1   76.5
0  9.1  86.50
1  8.2  77.90
2  9.2  87.40
3  8.3  78.85
4  9.3  88.35
5  9.4  89.30
6  8.4  79.80
7  8.5  80.75
8  9.5    NaN